/*
blog
 */

 /* FIXME: Check if this impacts new work */

.toc-header, .toc {
  display: none;
}

@media screen and (max-width: 991px) {
  .toc-header, .toc {
    display: block;
  }
}

.blog-list li {
  margin: 0;
  list-style: none;
}

.blog-list ul {
  padding-left: 0;
}

.blog-list .card {
  border: none;
}

.blog-list .card-body {
  padding: 1.25rem 0;
}

/*
blog-toc
 */

.blog-toc-container {
  position: sticky;
  top: 70px;
}

.blog-toc-subcontainer {
  padding: 1rem;
}

.blog-toc {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}
